.page-content {
  max-width: calc(800px - (20px * 2));
  margin-right: auto;
  margin-left: auto;
}

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7em 0 4em;
}
