hr {
    background: black;
    border: none;
    height: 0.8px;
    margin: 2em auto 1em;
    width: calc(100vw - 2em);
    overflow: visible;
    text-align: center;
}
  
hr:after {
  background: var(--background-color);
  content: "Fußnoten";
  padding: 0 0.6em;
  position: relative;
  top: -0.75em;
}
