
.logo {
  background: url(/img/captain-flat.png) center top no-repeat;
  background-size: 10vh;
  display: block;
  height: 10vh;
  width: 100%;
}

.site-header {
  padding-bottom: 2em;
}

.icon {
  display: inline-block;
  fill: var(--text-color-shaded);
  height: 1em;
  vertical-align: baseline;
  width: 1em;
}

.page-content {
  max-width: calc(800px - (20px * 2));
  margin-right: auto;
  margin-left: auto;
  background-color: var(--background-color);
  margin-bottom: 20em;
  box-shadow: 0 3em 3em var(--background-color);
}

.fingerprint {
  display: inline-block;
  font-family: monospace;
  font-size: .6em;
  line-height: 1em;
}

footer .contact {
  display: inline-block;
  padding: 1.4em 1em;
  border-radius: 3em;
  text-decoration: none;
}

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7em 0 4em;
  position: fixed;
  bottom: 0;
  z-index: -100;
  width: 100%;
  opacity: .2;
}

.site-footer h1 {
  margin: auto;
}