---
layout: default
title: nils.ecke.lt
github_username: NilsEckelt
---

<div class="home">

  {% for post in site.posts %}
    <article class="post-teaser">
      <span class="post-imagery">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          {% if post.img %}
            <img class="post-img" src="{{ post.img }}" alt="{{ post.title }}">
          {% else %}
            <img class="post-img" src="img/no-img.png" alt="{{ post.title }}">
          {% endif %}
        </a>
      </span>
      <a class="post-data" href="{{ post.url | prepend: site.baseurl }}">
        <span class="post-title">{{ post.title }}</span>
        <span class="read-time">{{ post.content | reading_time }} min read</span>
      </a>
    </article>
  {% endfor %}

</div>
