<footer class="site-footer -dark">


  <a href="https://twitter.com/NilsEckelt" class="contact">
    <svg class="icon" width="16" height="16">
      <use xlink:href="#twitter-logo"></use>
    </svg> @NilsEckelt
  </a>

  <a href="https://github.com/NilsEckelt" class="contact">
    <svg class="icon" width="16" height="16">
      <use xlink:href="#github-logo"></use>
    </svg> NilsEckelt
  </a>

  <a href="https://codepen.io/nils/" class="contact">
    <svg class="icon" width="16" height="16">
      <use xlink:href="#codepen-logo"></use>
    </svg> nils
  </a>

  <div class="contact">
    <svg class="icon" width="16" height="16">
      <use xlink:href="#mail-logo"></use>
    </svg> nils(at)ecke.lt
  </div>

  <div class="contact fingerprint">
    B4C8 D96B 98BE F7E2 68AB  47AE C23F F69D 9174 586E
  </div>

  <div class="signature">
    Blogged with ❤ in Hamburg
    <svg class="icon" width="16" height="16">
      <use xlink:href="#hamburg-logo"></use>
    </svg>
  </div>

</footer>
