<footer class="site-footer -dark">

  <h1 class="footer-title">ecke.lt</h1>

  <span class="signature">
    Blogged with
    <svg class="icon" viewBox="0 0 100 100">
      <use xlink:href="/img/sprites.svg#heart-logo"/>
    </svg>
    in Hamburg
    <svg class="icon" viewBox="0 0 100 100">
      <use xlink:href="/img/sprites.svg#hamburg-logo"/>
    </svg>
  </span>

  <span>
    <a href="https://codepen.io/nils/" class="contact">
        <svg class="icon" viewBox="0 0 100 100">
          <use xlink:href="/img/sprites.svg#codepen-logo"/>
        </svg>
        nils
    </a>
    <a href="https://github.com/NilsEckelt" class="contact">
        <svg class="icon" viewBox="0 0 100 100">
          <use xlink:href="/img/sprites.svg#github-logo"/>
        </svg>
        NilsEckelt
    </a>
    <a href="https://twitter.com/NilsEckelt" class="contact">
        <svg class="icon" viewBox="0 0 100 100">
          <use xlink:href="/img/sprites.svg#twitter-logo"/>
        </svg>
        @NilsEckelt
    </a>
  </span>

  <!--span class="contact">
      <svg class="icon" viewBox="0 0 100 100">
        <use xlink:href="/img/sprites.svg#mail-logo"/>
      </svg>
      nils(at)ecke.lt
      <br>
    <a href="http://nils.ecke.lt/D81B511F.txt" class="contact">
        <svg class="icon" viewBox="0 0 100 100">
          <use xlink:href="/img/sprites.svg#fingerprint-logo"/>
        </svg>
        <span class="fingerprint">B4C8 D96B 98BE F7E2 68AB<br/>47AE C23F F69D 9174 586E</span>
    </a>
  </span-->

</footer>
