<footer class="site-footer -dark">
  <a href="https://codepen.io/nils/" class="contact">
      <img class="icon" src="/img/sprites.svg#codepen-sprite"/>
      <svg class="icon" viewBox="0 0 100 100">
        <use xlink:href="/img/sprites.svg#codepen-logo"/>
      </svg>
      nils
  </a>

  <a href="https://github.com/NilsEckelt" class="contact">
      <img class="icon" src="/img/sprites.svg#github-sprite"/>
      <svg class="icon" viewBox="0 0 100 100">
        <use xlink:href="/img/sprites.svg#github-logo"/>
      </svg>
      NilsEckelt
  </a>

  <a href="https://twitter.com/NilsEckelt" class="contact">
      <img class="icon" src="/img/sprites.svg#twitter-sprite"/>
      <svg class="icon" viewBox="0 0 100 100">
        <use xlink:href="/img/sprites.svg#twitter-logo"/>
      </svg>
      @NilsEckelt
  </a>

  <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="contact">
      <img class="icon" src="/img/sprites.svg#rss-sprite"/>
      <svg class="icon" viewBox="0 0 100 100">
        <use xlink:href="/img/sprites.svg#rss-logo"/>
      </svg>
      Subscribe to RSS
  </a>

  <div class="contact">
      <img class="icon" src="/img/sprites.svg#mail-sprite"/>
      <svg class="icon" viewBox="0 0 100 100">
        <use xlink:href="/img/sprites.svg#mail-logo"/>
      </svg>
      nils(at)ecke.lt
      <br>
    <a href="http://nils.ecke.lt/D81B511F.txt" class="contact">
        <img class="icon" src="/img/sprites.svg#fingerprint-sprite"/>
        <svg class="icon" viewBox="0 0 100 100">
          <use xlink:href="/img/sprites.svg#fingerprint-logo"/>
        </svg>
        <span class="fingerprint">B4C8 D96B 98BE F7E2 68AB<br/>47AE C23F F69D 9174 586E</span>
    </a>
  </div>

  <div class="signature">
    Blogged with
    <img class="icon" src="/img/sprites.svg#heart-sprite"/>
    <svg class="icon" viewBox="0 0 100 100">
      <use xlink:href="/img/sprites.svg#heart-logo"/>
    </svg>
    in Hamburg
    <img class="icon" src="/img/sprites.svg#hamburg-sprite"/>
    <svg class="icon" viewBox="0 0 100 100">
      <use xlink:href="/img/sprites.svg#hamburg-logo"/>
    </svg>
  </div>

</footer>
